
$--color-primary: #0048FF;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// tabs
.el-tabs__nav-wrap::after {
  background-color: transparent !important;
}
.el-tabs__item.is-active {
  font-size: 14px !important;
  font-weight: bold !important;
  color: #1a1a1a !important;
}

/* 组件样式按需引入 */
@import "~element-ui/packages/theme-chalk/src/button";
@import "~element-ui/packages/theme-chalk/src/tabs";